<%= form_for(@mesa) do |f| %>
  <% if @mesa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mesa.errors.count, "error") %> prohibited this mesa from being saved:</h2>

      <ul>
      <% @mesa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br>
    <%= f.text_field :numero %>
  </div>
  <div class="field">
    <%= f.label :centro_id %><br>
    <%= f.number_field :centro_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    
    <% f.hidden_field :lista, value: 0 %>
    <% f.hidden_field :teodoro, value: 0 %>
    <% f.hidden_field :marquina, value: 0 %>
    <% f.hidden_field :nulo, value: 0 %>
    <% f.hidden_field :votos, value: 0 %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
